.card-container
{
    display: flex;
    gap: 10px;
    flex-direction: row;    
    background-color: rgb(147, 167, 167);
    margin: 20px;    
    padding: 15px;
}

.card-icon
{
    justify-content: center;
    gap: 5px;
    height: 128px;
    width: 128px;
}

.card-icon img
{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.card-text
{
    display: flex;    
    flex: 1 1;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
    font-size: 20px;
}

.card-name
{
    font-family: 'Times New Roman', Times, serif;
}

.card-email
{
    font-family: 'Times New Roman', Times, serif;
}